
  @import url('https://fonts.googleapis.com/css2?family=Hind&family=Kaushan+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.user{
    width: fit-content;
    margin: 150px auto;
    display: flex;
} 
.user img{
    width: 280px;
    cursor: pointer;
border-radius: 10px;
position: relative;
z-index: 100;
box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
transition: transform 1s box-shadow 1s;
}
.info{
    padding: 10px 50px;
    transform: rotateX(50px);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}
.info h1{
    font-size: 50px;
    font-weight: 500;
}
.info p{
    line-height: 26px;
}
.info a{
    background: #4f40ff;
    color: #fff;
font-size: 15px;
text-decoration: none;
display: inline-block;
padding: 10px 40px;
border-radius: 30px;
margin-top: 20px;
}
.close-icon{
    width: 320px;
    cursor: pointer;
    position: relative;
    transition: transform 1s;
}
.close-icon::before, .close-icon::after{
    content: '';
    height: 100%;
    width: 2px;
    background: #333;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
}
.close-icon::before{
    transform: rotate(30deg);
}
.close-icon::after{
    transform: rotate(-30deg);

}
.hide-details .info{
    transform: rotateX(50px);
    opacity: 0;
}
.hide-details .close-icon{
    transform: translateX(-410px);
}
.hide-details img{
    transform: translateX(410px);
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
}

@media (max-width: 600px){
    .info h1{
        font-size: 30px;
    }
    .info p{
        line-height: 20px;
    }
    .info a{
        padding: 8px 30px;
        font-size: 13px;
    }
    .user img{
        box-shadow: 5px 5px 5px rgba(0, 0 , 0 ,0.3);
    }
}